[user]
    name = Lucy Park
    email = me@lucypark.kr

[color]
    ui = auto

[alias]
    forget = rm --cached
    unstage = reset --soft HEAD^

[i18n]
    commitEncoding = utf8
    logOutputEncoding = utf8

[core]
    quotepath = false

[push]
	default = simple
