# Ignore all except dotfiles
*
!.*

# Custom
.z
.*_history

# Default files
.ICEauthority
.Xauthority
.cache/
.compiz/
.config/
.dmrc
.gconf/
.gnome/
.lesshst
.local/
.macromedia/
.mozilla/
.pki/
.profile
.ssh/*
.viminfo
.xinputrc
.xsession-errors
.xsession-errors*

# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.nav
*.snm
*.toc
*.vrb
