# History logs
.bash_history
.lesshst

# Application Folders
Dropbox/
.macromedia/

# Application Files
.dropbox*

# Sensitive folders
.ssh/*

# Custom Folders
dev/
data/
docs/

# Default folders
Downloads/
.cache/
.compiz-1/
.config/
.dbus/
.fontconfig/
.gconf/
.gnome2/
.gstreamer-*
.local/
.mission-control/
.mozilla/
.pki/
.pulse*
.thumbnails/
.xinput.d/

# Default files 
examples.desktop
.ICEauthority
.Xauthority
.dmrc
.face
.pam_environment
.gtk-bookmarks
.xsession-*
